name: linter
on:  
 push:
    branches: [ swaggerhub ]
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo ""::workflow-command parameter1={data},parameter2={data}::{command value}""




