name: linter
on:  
 push:
    branches: [ swaggerhub ]
jobs:
  my-job:
    runs-on: ubuntu-latest
    steps:
      - name: my-step
        run: echo ${{ github.event}}

  file_contents:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Read file contents
        id: read_file
        uses: andstor/file-reader-action@v1
        with:
          path: "node-output/swagger123.yaml"

      - name: File contents
        run: echo "${{steps.read_file.outputs.content}}"
        
      - name: Send mail
        uses: dawidd6/action-send-mail@v3
        with:
          # Required mail server address:
          server_address: smtp.gmail.com
          # Required mail server port:
          server_port: 465
          # Optional (recommended): mail server username:
          username: vsnaveen1@gmail.com
          # Optional (recommended) mail server password:
          password: ${{secrets.PASSGM}}
          # Required mail subject:
          subject: Github Actions job result
          # Required recipients' addresses:
          to: "vsnaveen1@gmail.com"
          # Required sender full name (address can be skipped):
          from: "vsnaveen1@gmail.com"
          # Optional whether this connection use TLS (default is true if server_port is 465)
          secure: true
          # Optional plain body:
          body: "${{steps.read_file.outputs.content}}"
          # Optional HTML body read from file:

          # Optional unsigned/invalid certificates allowance:
          ignore_cert: true
          # Optional converting Markdown to HTML (set content_type to text/html too):
          convert_markdown: true
          # Optional attachments:

          # Optional priority: 'high', 'normal' (default) or 'low'
          priority: low

